<!DOCTYPE html>
<html>
<head>
	<title>Mega Menu</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="style.css">
  <link rel="stylesheet" type="text/css" href="icons.css">
</head>
<body>


<!-- nav start -->
<nav class="nav">
  <div class="container">
    <div class="row v-center">
      <div class="nav-item item-left"></div>

      
<!-- menu start here -->
      <div class="nav-item item-center">
        <div class="menu-overlay"></div>
        <nav class="menu">
          <div class="mobile-menu-head">
            <div class="go-back">
              <i class="icon-container omx-icon-chevron-left"></i>  
            </div>
            <div class="current-menu-title"></div>
            <div class="mobile-menu-close">&times;</div>
          </div>
          <ul class="menu-main">
            <li>
              <a href="#">Home</a>
            </li>

      

<!-- Shop start -->

            <li class="menu-item-has-children">

              <a href="#">Shop<i class="icon-container omx-icon-chevron-down"></i></a>

              <div class="sub-menu mega-menu mega-menu-column gridmenu ">

                <div class="button-flex-5-col"> 

                  <div class="megamenu-btn-1">
                    <a href="#" 
                       class="megamenu-btn-link">
                     <button class="megamenu-btn">New in</button>
                    </a>
                  </div>
    
                  <div class="megamenu-btn-2">
                     <a href="#" 
                        class="megamenu-btn-link">
                       <button class="megamenu-btn">Shop all</button>
                     </a>
                  </div>

                </div>             

             

                <h4 class="shop-line-1">Title 1</h4>


                <div class="list-item-shop-1">
                  
                    <ul>
                      <li><a href="#">Item 1.1</a></li>
                      <li><a href="#">Item 1.2</a></li>
                      <li><a href="#">Item 1.3</a></li>
                      <li><a href="#">Item 1.4</a></li>
                    </ul>
                  
                  </div>

                <h4 class="shop-line-2 ">Title 2</h4>

                <div class="list-item-shop-2">
                  
                    <ul>
                      <li><a href="#">Item 2.1</a></li>
                      <li><a href="#">Item 2.2</a></li>
                      <li><a href="#">Item 2.3</a></li>
                      <li><a href="#">Item 2.4</a></li> 
                    </ul>
                  
                  </div>

                <h4 class="shop-line-3">Title 3</h4>

                <div class="list-item-shop-3">
                  
                    <ul>
                      <li><a href="#">Item 3.1</a></li>
                      <li><a href="#">Item 3.2</a></li>
                      <li><a href="#">Item 3.3</a></li>
                      <li><a href="#">Item 3.4</a></li>
                    </ul>
                 
                  </div>

                <h4 class="shop-line-4">Title 4</h4>

                <div class="list-item-shop-4">
                 
                   <ul>
                      <li><a href="#">Item 4.1</a></li>
                      <li><a href="#">Item 4.2</a></li>
                      <li><a href="#">Item 4.3</a></li>
                      <li><a href="#">Item 4.4</a></li>   
                    </ul>
                  
                </div>

                <h4 class="shop-line-5">Title 5</h4>

                <div class="list-item-shop-5 ">
                  
                    <ul>
                      <li><a href="#">Item 5.1</a></li>
                      <li><a href="#">Item 5.2</a></li>
                      <li><a href="#">Item 5.3</a></li>
                      <li><a href="#">Item 5.4</a></li> 
                    </ul>
                  
                </div>

            </li>

<!-- Shop end -->



<!-- Brands start -->

            <li class="menu-item-has-children">
              <a href="#">Brands<i class="icon-container omx-icon-chevron-down"></i></a>
              <div class="sub-menu mega-menu mega-menu-column gridmenu ">
               
                <h4 class="brand-line-1">Title 6</h4>

                <div>
                    <ul>
                      <li><a href="#">Item 6.1</a></li>
                      <li><a href="#">Item 6.2</a></li>
                      <li><a href="#">Item 6.3</a></li>
                      <li><a href="#">Item 6.4</a></li>
                   
                    </ul>
                  </div>
                

                <h4 class="brand-line-2">Title 7</h4>

                <div>
                    <ul>
                      <li><a href="#">Item 7.1</a></li>
                      <li><a href="#">Item 7.2</a></li>
                      <li><a href="#">Item 7.3</a></li>
                      <li><a href="#">Item 7.4</a></li>
                    </ul>
                </div>  

                <div>
                    <ul>
                      <li><a href="#">Item 7.5</a></li>
                      <li><a href="#">Item 7.6</a></li>
                      <li><a href="#">Item 7.7</a></li>
                      <li><a href="#">Item 7.8</a></li>
                    </ul>  
                </div>

                <div>
                    <ul>
                              <li><a href="#">Item 7.9</a></li>
                      <li><a href="#">Item 7.10</a></li>
                          <li><a href="#">Item 7.11</a></li>
                      <li><a href="#">Item 7.12</a></li>
                    </ul>
                </div>

                <div>     
                    <ul>
                      <li><a href="#">Item 7.13</a></li>
                      <li><a href="#">Item 7.14</a></li>
                      <li><a href="#">Item 7.15</a></li>
                      <li><a href="#">Item 7.16</a></li>
                    </ul>
                </div>
              </div>
            </li>

<!-- Brands end -->

<!-- Blog start -->

            <li class="menu-item-has-children">
              <a href="#">Blog<i class="icon-container omx-icon-chevron-down"></i></a>

              <div class="sub-menu mega-menu mega-menu-column-blog gridmenu ">


                <div class="button-flex-3-col">
                  <div class="megamenu-btn-3">
                    <a href="#" 
                    class="megamenu-btn-link">
                      <button class="megamenu-btn">All Blog Posts</button>
                  </a>
                  </div>
      
                  
                </div> 


                <h4 class="line-full-width">Latest Blog Posts</h4>

                <div class="list-item-blog-1 flex-container ">
                  <div class="grid-item gridmenu">
                    {% assign latestPost = blogs.blog.articles.first %}
                    {% if latestPost %}
                      <h2 class="menu-blog-title">{{ latestPost.title }}</h2>
                      <p class="menu-blog-date">{{ latestPost.published_at | date: '%B %d, %Y' }}</p>
                      <p class="menu-blog-content">{{ latestPost.content | strip_html | truncate: 150 }}</p>
                      <a href="{{ latestPost.url }}" class="menu-blog-readmore">Read more</a>
                    {% endif %}
                  </div>
                </div>

                <div class="list-item-blog-2 flex-container ">
                  <div class="grid-item gridmenu">
                    {% assign blog = blogs.blog %}
                    {% assign posts = blog.articles | reverse %}
                    {% assign secondLastPost = posts[1] %}
                    {% if secondLastPost %}
                      <h2 class="menu-blog-title">{{ secondLastPost.title }}</h2>
                      <p class="menu-blog-date">{{ secondLastPost.published_at | date: '%B %d, %Y' }}</p>
                      <p class="menu-blog-content">{{ secondLastPost.content | strip_html | truncate: 150 }}</p>
                      <a href="{{ secondLastPost.url }}" class="menu-blog-readmore">Read more</a>
                    {% endif %}
                  </div>
                </div>

                <div class="list-item-blog-3 flex-container ">
                  <div class="grid-item gridmenu">
                    {% assign blog = blogs.blog %}
                    {% assign posts = blog.articles | reverse %}
                    {% assign thirdLastPost = posts | offset: 1 | first %}
                    {% if thirdLastPost %}
                      <h2 class="menu-blog-title">{{ thirdLastPost.title }}</h2>
                      <p class="menu-blog-date">{{ thirdLastPost.published_at | date: '%B %d, %Y' }}</p>
                      <p class="menu-blog-content">{{ thirdLastPost.content | strip_html | truncate: 150 }}</p>
                      <a href="{{ thirdLastPost.url }}" class="menu-blog-readmore">Read more</a>
                    {% endif %}
                  </div>
                </div>
              </div>
            </li>
            <style>
              .menu-blog-title {
                font-size:20px;
              }
              .menu-blog-date {
                font-size:12px;
              }
              .menu-blog-content {
                font-size:16px;
              }

               .menu-blog-readmore {
              	float: right;
              	margin-right: 10px;
              	margin-top: 10px;
              }
            </style>

<!-- Blog end -->

<!-- FAQ start -->

<li class="menu-item-has-children">
  <a href="#">FAQ<i class="icon-container omx-icon-chevron-down"></i></a>
  <div class="sub-menu mega-menu mega-menu-column-faq gridmenu ">

    <div class="button-flex-2-col">
      <div class="megamenu-btn-4">
        <a href="#" 
        class="megamenu-btn-link">
          <button class="megamenu-btn">All FAQs</button>
      </a>
      </div>
    </div> 

    <h4 class="line-full-width">Most requested FAQs</h4>

    

    <div class="button-faq-1">
      <div class="faq-btn-1">
        <a href="#" 
        class="faq-btn-link">
          <button class="faq-btn">consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et  </button>
      </a>
      </div>
    </div> 

    
    
    <div class="button-faq-2">
      <div class="faq-btn-1">
        <a href="#" 
        class="faq-btn-link">
          <button class="faq-btn">consetetur sadipscing elitr, sed diam  ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et aliquyam erat, sed diam    </button>
      </a>
      </div>
    </div> 


    <div class="button-faq-3">
      <div class="faq-btn-1">
        <a href="#" 
        class="faq-btn-link">
          <button class="faq-btn">consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna  dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et </button>
      </a>
      </div>
    </div> 

    <div class="button-faq-4">
      <div class="faq-btn-1">
        <a href="#" 
        class="faq-btn-link">
          <button class="faq-btn">consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna  dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et </button>
      </a>
      </div>
    </div> 


    <div class="button-faq-5">
      <div class="faq-btn-1">
        <a href="#" 
        class="faq-btn-link">
          <button class="faq-btn">5onsetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna   </button>
      </a>
      </div>
    </div> 
    

    <div class="button-faq-6">
      <div class="faq-btn-1">
        <a href="#" 
        class="faq-btn-link">
          <button class="faq-btn">6nsetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et  </button>
      </a>
      </div>
    </div> 

            
  </div>
</li>

<!-- FAQ end -->

<!-- Contact start -->
            <li>
              <a href="#">Contact</a>
            </li>
<!-- Contact end -->

          </ul>
        </nav>
      </div>
      
<!-- menu end here -->
     
<!-- mobile menu trigger -->
      <div class="mobile-menu-trigger">
        <span></span>
      </div>
    </div>
  </div>
</nav>
<!-- nav end -->



<script src="main.js"></script>



</body>
</html>



